{% extends 'layouts/base.html' %} {% block contenido %}

<div class="flex-container">
  <div class="flex-items">
    <img src="/static/img/avatar.jfif" alt="Fotógrafo" />
  </div>
  <div class="flex-items">
    <h2>Juanjo Ruiz</h2>
    <p>
      Soy un apasionado fotógrafo especializado en capturar momentos únicos y
      emociones auténticas. Mi enfoque artístico y creativo se refleja en cada
      imagen que produzco. Exploro la belleza en la simplicidad y busco contar
      historias a través de mis fotografías. Bienvenido a mi mundo visual.
    </p>
  </div>
</div>
{% endblock %}
