{% extends 'layouts/base.html' %} {% block contenido %}
<ul class="galeria">
  <li>
    <a href="#img1"><img src="/static/img/image1.png" /></a>
  </li>
  <li>
    <a href="#img2"><img src="/static/img/image2.jpg" /></a>
  </li>
  <li>
    <a href="#img3"><img src="/static/img/image3.jpg" /></a>
  </li>
  <li>
    <a href="#img4"><img src="/static/img/image4.jpg" /></a>
  </li>
</ul>

<div class="modal" id="img1">
  <h3>Paisaje 1</h3>
  <div class="imagen">
    <a href="#img4">&#60;</a>
    <a href="#img2"><img src="/static/img/image1.png" /></a>
    <a href="#img2">></a>
  </div>
  <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img2">
  <h3>Paisaje 2</h3>
  <div class="imagen">
    <a href="#img1">&#60;</a>
    <a href="#img3"><img src="/static/img/image2.jpg" /></a>
    <a href="#img3">></a>
  </div>
  <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img3">
  <h3>Paisaje 3</h3>
  <div class="imagen">
    <a href="#img2">&#60;</a>
    <a href="#img4"><img src="/static/img/image3.jpg" /></a>
    <a href="#img4">></a>
  </div>
  <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img4">
  <h3>Paisaje 4</h3>
  <div class="imagen">
    <a href="#img3">&#60;</a>
    <a href="#img1"><img src="/static/img/image4.jpg" /></a>
    <a href="#img1">></a>
  </div>
  <a class="cerrar" href="">X</a>
</div>

{% endblock %}
